@page "/"
@inject Popper Popper
@using KristofferStrube.Blazor.Popper

<input type="button" id="button" @ref=element aria-describedby="tooltip" value="My Button" />
<span id="tooltip" @ref=tooltip role="tooltip">My tooltip</span>



@code {
    protected ElementReference element;

    protected ElementReference tooltip;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var options = new Options {
            Placement = Placement.Bottom,
            OnFirstUpdate = (args) => Console.WriteLine(args)
            //Modifiers = new Modifier[]
            //{
            //    new Modifier()
            //    {
            //        Name = "offset",
            //        Enabled = true,
            //        Phase = "main",
            //        Requires = new string[0],
            //        RequiresIfExists = new string[0],
            //        Fn = (args) => null
            //    }
            //}
        };
        await Popper.CreatePopperAsync(element, tooltip, options);
    }
}