@page "/OnFirstUpdate"
@inject Popper Popper

<span @ref=reference aria-describedby="tooltip" value="My Button">Reference</span>
<span id="tooltip" @ref=tooltip role="tooltip">Response From First Update:<br /> @respFromFirstUpdate</span>


@code {
    protected ElementReference reference;

    protected ElementReference tooltip;

    protected string respFromFirstUpdate { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Options options = new() { OnFirstUpdate = (State state) => { respFromFirstUpdate = System.Text.Json.JsonSerializer.Serialize(state); StateHasChanged(); } };
            await Popper.CreatePopperAsync(reference, tooltip, options);
        }
    }
}