@page "/PreventOverflowModifier"
@inject Popper Popper

<div @ref=parent style="width:100%;height:200px;border:2px dashed black;">
    <span id="reference" @ref=reference aria-describedby="tooltip" value="My Button">Reference</span>
    <span id="popper" @ref=tooltip role="tooltip">bottom popper will stay inside the bounding box with padding of 10px</span>
</div>


@code {
    protected ElementReference reference;

    protected ElementReference tooltip;

    protected ElementReference parent;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Options options = new()
            {
                Placement = Placement.Bottom,
                Modifiers = new Modifier[] {
                    new(ModifierName.PreventOverflow) {
                        //Options = new PreventOverflowOptions(parent, padding: 10),
                        Options = new PreventOverflowOptions(parent, padding: 300, tetherOffsetFunction: e => 100),
                    }
                }
            };
            Instance instance = await Popper.CreatePopperAsync(reference, tooltip, options);
        }
    }
}