<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Popper Samples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./OnFirstUpdate">
                <span class="oi oi-home" aria-hidden="true"></span> OnFirstUpdate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./ModifierLog">
                <span class="oi oi-home" aria-hidden="true"></span> Modifier Log
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./OffsetModifier">
                <span class="oi oi-home" aria-hidden="true"></span> Offset
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./PreventOverflowModifier">
                <span class="oi oi-home" aria-hidden="true"></span> Prevent Overflow
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./ArrowModifier">
                <span class="oi oi-home" aria-hidden="true"></span> Arrow
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./FlipModifier">
                <span class="oi oi-home" aria-hidden="true"></span> Flip
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
